.homeScreen{
  position: relative;
  top: -20px;
  //background-color: red;
  background-image: url("https://wallpapercave.com/wp/wp6157135.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: contain;
  background-color: blue;
  height: auto;
  margin: auto;
  padding: auto;
}

.content{
 position: relative;
 top: 500px;
  //background-color: brown;
}
