.homeScreen{
  background-image: url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY-1920-80.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: contain;
}
