.nav_contents{
display: flex;
justify-content: space-between;
}

.nav{
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;

   
}
.nav_black{
    
    background-color: #111;
}
.nav_logo{
    position: fixed;
    top: 20px;
    width: 100px;
    object-fit: contain;
    padding-left: 20px;
    left: 0;
    cursor: pointer;

}

.nav_avatar{
    position: fixed;
    right: 10px;
    width: 30px;
    top: 20px;

}